<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageplaza" translate="label" sortOrder="400">
            <label>mageplaza</label>
        </tab>
        <section id="googleanalytics" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google Analytics</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_GoogleAnalytics::googleanalytics</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracking_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main Tracking ID</label>
                    <comment>E.g: UA-67560306-1</comment>
                </field>
                <field id="tracking_id2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Second Tracking ID</label>
                    <comment>E.g: UA-67560306-2 . Leave empty if you do not want to use this.</comment>
                </field>
                <field id="link_attribution" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Enhanced Link Attribution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enhanced Link Attribution improves the accuracy of your In-Page Analytics report by automatically differentiating between multiple links to the same URL on a single page by using link element IDs.</comment>
                </field>
                <field id="ip_anonymization" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable IP Anonymization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>In some cases, you might need to anonymize the IP address of the hit (http request) sent to Google Analytics.</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Trace Debugging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Trace debugging will output more verbose information to the console. To enabled trace debugging, choose Yes.</comment>
                </field>


                <field id="ecommerce_tracking" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable eCommerce Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>

            </group>
        </section>
    </system>
</config>
