<?xml version="1.0"?>
<!--
/**
 * Mageplaza_SocialButtons extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     https://www.mageplaza.com/LICENSE.txt
 * 
 *                     @category  Mageplaza
 *                     @package   Mageplaza_SocialButtons
 *                     @copyright Copyright (c) 2015
 *                     @license   https://www.mageplaza.com/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageplaza_googleanalytics" frontName="mageplaza_googleanalytics">
            <module name="Mageplaza_GoogleAnalytics" before="Magento_Backend"/>
        </route>
    </router>
</config>
